build/
*.o
*.obj  
*.exe
*.dll
*.so
*.dylib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.user
*.opensdf
*.sdf
*.vcxproj
CMakeLists.txt.user
._*
.DS_Store
__pycache__/
*.pyc
.vs/
*.log
*.tmp
dist/
*.egg-info/
.pc*/
